.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;

  background-color: #f5f5f5;

  /* Alineamos logo y menú en horizontal, centrados verticalemne */
  display: flex;
  align-items: center;
}

.menu {
  /* Menú a la derecha */
  margin-left: auto;
  margin-right: 20px;
  
}

/* Buscador */
.search {
  width: 300px;
  margin-left: 60px;
  margin-right: 12px; 
}


img {
  height: 50px;
}
