.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;

  background: #f5f5f5;
  padding: 10px 20px;

  display: flex;
  align-items: center;
}

/* IZQUIERDA */
.header-left img {
  height: 50px;
}

/* CENTRO */
.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.header-center mat-form-field {
  width: 260px;
}

/* DERECHA */
.header-right {
  display: flex;
  gap: 16px;
}

.header-right a {
  text-decoration: none;
  font-weight: 500;
}
