<header class="header">

  <!-- IZQUIERDA — LOGO -->
  <div class="header-left">
    <a routerLink="/characters">
      <img src="assets/logo.webp" alt="Logo">
    </a>
  </div>

  <!-- CENTRO — BUSCADOR -->
  @if (showSearch()) {
  <div class="header-center">

    <mat-form-field appearance="outline">
      <input matInput
             placeholder="Filtrar por nombre"
             [(ngModel)]="searchText">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSearch()">
      Filtrar
    </button>

    @if (searchText) {
      <button mat-stroked-button (click)="clearSearch()">
        Limpiar
      </button>
    }

  </div>
  }

  <!-- DERECHA — MENÚ -->
  <div class="header-right">

    <a routerLink="/characters">Personajes</a>
    <a routerLink="/episodes">Episodios</a>

  </div>

</header>
