<mat-card class="character-card" (click)="onClick()">

  <mat-card-header>
    <mat-card-title><strong>{{ name }}</strong></mat-card-title>
  </mat-card-header>

  @if (image_path) {
    <div class="image-container">
      <img mat-card-image [src]="imageUrl(image_path)" />
    </div>
  }

  <mat-card-content>
    <p><strong>Temporada:</strong> {{ season }}</p>
    <p><strong>Episodio:</strong> {{ episode_number }}</p>
    <p><strong>Emisión:</strong> {{ airdate || '—' }}</p>
  </mat-card-content>

</mat-card>
