pager {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .pager-spacing {
  margin-top: 130px;
  }